<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat config wizard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <chat-config-wizard-dialog [messages]="messages">
    </chat-config-wizard-dialog>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <chat-config-wizard-actions #actions (actionTransition)="onActionTransition($event)" [action]="currentAction">

      <chat-config-wizard-action name="name">
          <ion-input placeholder="Your name"  #nameInput></ion-input>
          <ion-button (click)="actions.submitAction($event, nameInput.value)">Next</ion-button>
      </chat-config-wizard-action>

      <chat-config-wizard-action name="birthdate">
        <ion-col class="ion-align-self-stretch">
          <ion-datetime placeholder="Your birth date"  #birthdateInput></ion-datetime>
        </ion-col>
        <ion-button (click)="actions.submitAction($event, birthdateInput.value)">Next</ion-button>
      </chat-config-wizard-action>

      <chat-config-wizard-action name="end">
          <p>Configuration is done, thank you</p>
      </chat-config-wizard-action>

    </chat-config-wizard-actions>
  </ion-toolbar>
</ion-footer>
